<ion-content (ionScroll)="logScrolling($event)" #content id="ion-content" scrollEvents="true">
  <ion-row>
    <ion-col *ngFor="let val of businessVideosArray" size="6">
      <div class="ion-position-relative">
        <img class="video-thumbnail" [lazyLoad]="val.img">
        <div class="ion-display-flex ion-justify-content-between video-time-play-btn-div">
          <div class="play-btn-div">
            <svg xmlns="http://www.w3.org/2000/svg" id="Filled" viewBox="0 0 24 24" width="512" height="512"><path d="M20.492,7.969,10.954.975A5,5,0,0,0,3,5.005V19a4.994,4.994,0,0,0,7.954,4.03l9.538-6.994a5,5,0,0,0,0-8.062Z"/></svg>
          </div>
          <div class="video-time-div">
            <h4>{{ val.time }}</h4>
          </div>
        </div>
      </div>
      <h4 class="video-title">{{ val.title }}</h4>
      <h5 class="video-desc">{{ val.desc }} ...</h5>
    </ion-col>
  </ion-row>

  <div *ngFor="let news of moreNewsArray" class="more-news-wrap-div ion-display-flex ion-align-items-center">
    <img class="more-news-img" [lazyLoad]="news.img">
    <div>
      <h3 class="more-news-title">{{ news.title }}</h3>
      <div class="ion-display-flex ion-align-items-center ion-justify-content-between" style="margin-top: 6px;">
        <div class="ion-display-flex ion-align-items-center">
          <h3 class="news-paper-name">{{ news.newsPaperName }}</h3>
          <div class="more-news-time-ago ion-display-flex ion-align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="512" height="512"><path d="M12,0A12,12,0,1,0,24,12,12.013,12.013,0,0,0,12,0Zm0,22A10,10,0,1,1,22,12,10.011,10.011,0,0,1,12,22Z"/><path d="M12,6a1,1,0,0,0-1,1v4.325L7.629,13.437a1,1,0,0,0,1.062,1.7l3.84-2.4A1,1,0,0,0,13,11.879V7A1,1,0,0,0,12,6Z"/></svg>
            <h3>{{ news.time }}</h3>
          </div>
        </div>
      </div>
      <div class="comments-on-news-post-div ion-display-flex ion-align-items-end">
        <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="512" height="512"><path d="M20,0H4A4,4,0,0,0,0,4V16a4,4,0,0,0,4,4H6.9l4.451,3.763a1,1,0,0,0,1.292,0L17.1,20H20a4,4,0,0,0,4-4V4A4,4,0,0,0,20,0Zm2,16a2,2,0,0,1-2,2H17.1a2,2,0,0,0-1.291.473L12,21.69,8.193,18.473h0A2,2,0,0,0,6.9,18H4a2,2,0,0,1-2-2V4A2,2,0,0,1,4,2H20a2,2,0,0,1,2,2Z"/><path d="M7,7h5a1,1,0,0,0,0-2H7A1,1,0,0,0,7,7Z"/><path d="M17,9H7a1,1,0,0,0,0,2H17a1,1,0,0,0,0-2Z"/><path d="M17,13H7a1,1,0,0,0,0,2H17a1,1,0,0,0,0-2Z"/></svg>
        <span>{{ news.commentsCount }}</span>
      </div>
    </div>
  </div>
</ion-content>
