<ion-header>
  <ion-toolbar>
    <ion-button (click)="goBack()" class="back-btn" button slot="start">
      <img src="assets/imgs/tabs-page/arrow-small-left.svg">
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h3 class="change-password-txt">{{ 'changePassword' | translate }}</h3>
  <div>
    <h3 class="enter-old-password-txt">Enter your old password</h3>
    <form [formGroup]="inputFields" novalidate (ngSubmit)="submit()">
      <ion-input formControlName="password" type="password" [(ngModel)]="oldPassword" (ionBlur)="blurInput('oldPass')" (ionFocus)="focusInput('oldPass')" class="password-input" clearInput [class.highlight-input]="focusOldPass" [disabled]="showNewPassDiv"></ion-input>
      <!-- <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required">{{ 'you_cannot_leave_this_empty' | translate }}</span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.minlength">Your password must be 8 charactes long</span> -->
      <ion-button (click)="confirmOldPassword()" class="submit-btn" [disabled]="showNewPassDiv">Confirm</ion-button>
      <div class="enter-new-password-div" [class.showNewPasswordDiv]="showNewPassDiv">
        <h3 class="enter-new-password-txt">Enter new password</h3>
        <ion-input type="password" formControlName="newpPssword" (ionBlur)="blurInput('newPass')" (ionFocus)="focusInput('newPass')" class="password-input" clearInput [class.highlight-input]="focusNewPass"></ion-input>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.newpPssword.errors?.required">{{ 'you_cannot_leave_this_empty' | translate }}</span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.newpPssword.errors?.minlength">Your password must be 8 charactes long</span>
        <h3 class="confirm-new-txt">Confirm new password</h3>
        <ion-input type="password" formControlName="confirmPassword" (ionBlur)="blurInput('confirmPass')" (ionFocus)="focusInput('confirmPass')" class="password-input" clearInput [class.highlight-input]="focusConfirmPass"></ion-input>
        <div *ngIf="errorControl.confirmPassword.touched && errorControl.confirmPassword.invalid" class="alert alert-danger">
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.confirmPassword.errors?.required">
            {{ 'you_cannot_leave_this_empty' | translate }}
          </span>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.confirmPassword.errors.confirmedValidator">
            {{ 'password_donot_match' | translate }}
          </span>
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.confirmPassword.errors?.minlength">
            Your password must be 8 charactes long
          </span>
        </div>

        <ion-button type="submit" class="submit-btn">Update</ion-button>
      </div>
    </form>
  </div>
</ion-content>
