.search-wrap-div{
    border-bottom: 1px solid #24364d;
    padding: 0px 0px 0px 15px;
    ion-input{
        font-size: 14px;
        color: #24364d;
        font-family: 'poppins medium' !important;
        --padding-top: 18px;
        letter-spacing: -0.3px;
    }
}
.q-logo{
    width: 24px;
    height: 24px;
}
.micro-image-div{
    img{
        width: 18px;
        height: 18px;
        margin-right: 15px;
    }
}