<div class="ion-display-flex ion-justify-content-between ion-align-items-center search-wrap-div">
  <div class="ion-display-flex ion-align-items-center" style="width: 100%">
    <img class="q-logo" src="assets/imgs/tabs-page/qlogo.png">
    <ion-input #inputSearch placeholder="Enter a search or URL"></ion-input>
  </div>
  <div class="micro-image-div ion-align-items-center ion-display-flex">
    <img src="assets/imgs/tabs-page/image.png">
    <img src="assets/imgs/tabs-page/microphone.png">
  </div>
</div>