<ion-footer>
  <ion-toolbar>
    <div (click)="menuBtn()" class="ion-activatable ripple-parent center-logo-div">
      <img src="assets/imgs/tabs-page/qlogo.png">
      <ion-ripple-effect></ion-ripple-effect>
    </div>
    <div class="ion-display-flex ion-align-items-end">
      <div class="tab-left-side-div">
        <div class="tab-left-side-div-child">
          <!-- <img class="tabs-left-arrow" src="assets/imgs/tabs-page/right-arrow.png"> -->
          <div class="ion-display-grid" style="justify-items: end;">
            <img class="qshop-icon-img" src="assets/imgs/tabs-page/event.png">
            <h4 class="qshop-icon-img-txt">QShop</h4>
          </div>
          
        </div>
      </div>
      <div class="tab-middle-div"></div>
      <div class="tab-right-side-div"> 
        <div class="tab-right-side-div-child">
          <div class="ion-display-grid" style="justify-items: start;">
            <img class="qnews-icon-img" src="assets/imgs/tabs-page/newspaper.png">
            <h4 class="qnews-icon-img-txt">QNews</h4>
          </div>
          <!-- <img class="tabs-right-arrow" src="assets/imgs/tabs-page/right-arrow.png"> -->
        </div>
      </div> 
    </div>
  </ion-toolbar>
</ion-footer>