<ion-header>
  <ion-toolbar>
    <ion-button (click)="goBack()" class="back-btn" button slot="start">
      <img src="assets/imgs/tabs-page/arrow-small-left.svg">
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h3 class="language-txt">{{ 'choose_language' | translate }}</h3>

  <div class="language-wrap-div shadow-soft">

    <ion-item *ngFor="let language of languages; let i = index" button (click)="pickLang(language, i)">
      <ion-label>
        {{ language.name }}
      </ion-label>
      <ion-thumbnail slot="end" *ngIf="selectedIndex == i">
        <img class="tick-img" src="assets/imgs/tabs-page/check.svg">
      </ion-thumbnail>
    </ion-item>

  </div>

  <ion-button class="save-changes" (click)="saveChanges()">{{ 'save_changes' | translate }}</ion-button>
</ion-content>
