
// ion-content{
//     --background: none;
// }
// .container{
//     height: 500px;
// }
// a{
//     text-decoration: none;
//   }
  
//   .menu {
//     position: relative;
//     // margin-top: 15%;
//     left: 50%;
//     // width: 0px;
//     // transform: translate(-50%, 55%);
//     margin-top: 112%;
//   }
  
//   .toggle {
//     display: none;
//   }
  
//   .toggle + .style {
//       width: 150px;
//       height: 150px;
//       border-radius: 50%;
//       cursor: pointer;
//       transform: translate(-50%, -50%) scale(1);
//       z-index: 5;
//       display: block;
//       max-width: 200px;
//       margin-bottom: 0;
//       background: #d6d6d7;
//       color: #fff;
//       font-size: 2.5em;
//       padding-top: 75px;
//       text-align: center;
//      -webkit-transition: all .8s;
//      -moz-transition: all .8s;
//      -o-transition: all .8s;
//      -ms-transition: all .8s;
//      transition: all .8s;
//      margin-top: 3em;
//      position: relative;

//   }
//   .q-logo{
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     transform: translate(-50%,-50%);
//   }
  
//   .menu p{
//       max-width: 85px;
//       text-align: center;
//       margin: 0 auto;
//       line-height: 15px;
//       padding-top: 32px;
//       font-weight: 700;
//       font-size: 2em;
//   }
  
//   .toggle + .style:hover{
//       -webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, .7);
//       -moz-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, .7);
//       -ms-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, .7);
//       -o-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, .7);
//       box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, .7);
//   }
  
//   .toggle:checked + .style {
//     transform: translate(-50%, -50%) scale(.5);
//   }
  
//   .menu input[type=checkbox] + label:before {
//       content: "";
//       position: absolute;
//   }
  
//   .toggle + .style:before, .toggle + .style:after {
//     content: "";
//     position: absolute;
//     margin: -3px;
//     border-radius: 5px;
//     transition: all 0.3s;
//   }
  
//   .toggle + .style:before {
//     width: 30px;
//     height: 0px;
//     left: 10px;
//     top: 25px;
//   }
  
//   .toggle + .style:after {
//     width: 0px;
//     height: 30px;
//     left: 25px;
//     top: 10px;
//   }
  
//   .toggle:checked + .style:before, .toggle:checked + .style:after {
//     transform: rotate(135deg);
//   }
  
//   .toggle ~ .tab {
//       position: absolute;
//       background: #ff0000;
//       color: #fff;
//       width: 80px;
//       height: 80px;
//       left: 0px;
//       top: 0px;
//       transform: translate(-50%, -50%) scale(0);
//       transition: all 0.3s;
//       opacity: 0;
//       border-radius: 50%;
//   }
  
//   .toggle:checked ~ .tab {
//     opacity: 1;
//     transform: translate(-50%, -50%) scale(1);
//   }
  
//   .menu > .toggle:checked ~ .tab:nth-of-type(1) {
//     top: -110px;
//     left: 44px;
//     transition-delay: 0s;
//   }
  
//   .menu > .toggle:checked ~ .tab:nth-of-type(2) {
//     top: -49px;
//     left: 108px;
//     transition-delay: 0.125s;
//   }
  
//   .menu > .toggle:checked ~ .tab:nth-of-type(3) {
//     top: 39px;
//     left: 108px;
//     transition-delay: 0.25s;
//   }
  
//   .menu > .toggle:checked ~ .tab:nth-of-type(4) {
//     top: 110px;
//     left: 44px;
//     transition-delay: 0.375s;
//   }
  
//   .menu > .toggle:checked ~ .tab:nth-of-type(5) {
//     top: 102px;
//     left: -45px;
//     transition-delay: 0.5s;
//   }
  
//   .menu > .toggle:checked ~ .tab:nth-of-type(6) {
//     top: 39px;
//     left: -108px;
//     transition-delay: 0.625s;
//   }
  
//   .menu > .toggle:checked ~ .tab:nth-of-type(7) {
//     top: -49px;
//     left: -108.33333px;
//     transition-delay: 0.75s;
//   }
  
//   .menu > .toggle:checked ~ .tab:nth-of-type(8) {
//     top: -110.2809px;
//     left: -45px;
//     transition-delay: 0.875s;
//   }
  //CSS copied!!!
  ion-content{
    --background: none;
    --padding-start: 10px;
    --padding-end: 10px;
}
ion-slides{
  position: relative;
  ion-slide{
    display: block;
    h3{
      color: #fff;
      font-size: 30px;
      font-family: 'poppins semibold' !important;
      letter-spacing: 0.8px;
      margin: 0;
      width: 88%;
      margin: 0 auto;
    }
    h4{
      color: #fff;
      font-size: 16px;
      font-family: 'poppins medium' !important;
      letter-spacing: 0.8px;
      width: 88%;
      margin: auto;
    }
  }
}
.display-animation{
  animation: fadein 0.3s linear 1 normal forwards;
}
.display-animation-rev{
  animation: fadeout 0.3s linear 1 normal forwards;
}
@keyframes fadeout{
  from { opacity: 1; }
  to { opacity: 0; }
}
@keyframes fadein{
  from { opacity: 0; }
  to { opacity: 1; }
}
.menu-title{
  color: #fff;
  font-size: 30px;
  font-family: 'poppins semibold' !important;
  letter-spacing: 0.8px;
  margin: 0;
  width: 88%;
  margin: 0 auto;
  text-align: center;
}
.menu-desc{
  color: #fff;
      font-size: 16px;
      font-family: 'poppins medium' !important;
      letter-spacing: 0.8px;
      width: 88%;
      margin: 10px auto;
      text-align: center;
}
.left-right-arrow-div{
  position: fixed;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  .right{
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  .left{
    width: 20px;
    height: 20px;
    transform: rotate(180deg);
    margin-left: 10px;
  }
}
.border-line{
  border-bottom: 3px solid #fff;
  width: 50%;
  margin-top: 30px;
  border-radius: 10px;
}
.container{
    height: 500px;
}
a{
    text-decoration: none;
  }
  
  .menu {
    // position: relative;
    // margin-top: 15%;
    left: 50%;
    // width: 0px;
    // transform: translate(-50%, 55%);
    // margin-top: 100%;
    position: fixed;
    bottom: 0;
  }
  
  .toggle {
    display: none;
  }
  
  .toggle + .style {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      cursor: pointer;
      transform: translate(-50%, -50%) scale(1);
      z-index: 5;
      display: block;
      max-width: 200px;
      margin-bottom: 0;
      background: #d6d6d7;
      color: #fff;
      font-size: 2.5em;
      padding-top: 75px;
      text-align: center;
     -webkit-transition: all .8s;
     -moz-transition: all .8s;
     -o-transition: all .8s;
     -ms-transition: all .8s;
     transition: all .8s;
     margin-top: 0em;
     position: relative;

  }
  .q-logo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  
  .menu p{
      max-width: 85px;
      text-align: center;
      margin: 0 auto;
      line-height: 15px;
      padding-top: 32px;
      font-weight: 700;
      font-size: 2em;
  }
  
  .toggle + .style:hover{
      -webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, .7);
      -moz-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, .7);
      -ms-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, .7);
      -o-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, .7);
      box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, .7);
  }
  
  .toggle:checked + .style {
    transform: translate(-50%, -50%) scale(.5);
  }
  
  .menu input[type=checkbox] + label:before {
      content: "";
      position: absolute;
  }
  
  .toggle + .style:before, .toggle + .style:after {
    content: "";
    position: absolute;
    margin: -3px;
    border-radius: 5px;
    transition: all 0.3s;
  }
  
  .toggle + .style:before {
    width: 30px;
    height: 0px;
    left: 10px;
    top: 25px;
  }
  
  .toggle + .style:after {
    width: 0px;
    height: 30px;
    left: 25px;
    top: 10px;
  }
  
  .toggle:checked + .style:before, .toggle:checked + .style:after {
    transform: rotate(135deg);
  }
  
  .toggle ~ .tab {
      position: absolute;
      background: #858585;
      color: #fff;
      width: 80px;
      height: 80px;
      left: 0px;
      top: 0px;
      transform: translate(-50%, -50%) scale(0);
      transition: all 0.3s;
      opacity: 0;
      border-radius: 50%;
  }
  
  .toggle:checked ~ .tab {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  
  .menu > .toggle:checked ~ .tab:nth-of-type(1) {
    top: -110px;
    left: 44px;
    transition-delay: 0s;
  }
  
  .menu > .toggle:checked ~ .tab:nth-of-type(2) {
    top: -49px;
    left: 108px;
    transition-delay: 0.125s;
  }
  
  .menu > .toggle:checked ~ .tab:nth-of-type(3) {
    top: 39px;
    left: 108px;
    transition-delay: 0.25s;
  }
  
  .menu > .toggle:checked ~ .tab:nth-of-type(4) {
    top: 110px;
    left: 44px;
    transition-delay: 0.375s;
  }
  
  .menu > .toggle:checked ~ .tab:nth-of-type(5) {
    top: 102px;
    left: -45px;
    transition-delay: 0.5s;
  }
  
  .menu > .toggle:checked ~ .tab:nth-of-type(6) {
    top: 39px;
    left: -108px;
    transition-delay: 0.625s;
  }
  
  .menu > .toggle:checked ~ .tab:nth-of-type(7) {
    top: -49px;
    left: -108.33333px;
    transition-delay: 0.75s;
  }
  
  .menu > .toggle:checked ~ .tab:nth-of-type(8) {
    top: -110.2809px;
    left: -45px;
    transition-delay: 0.875s;
  }
  .highlight-selected-tab{
    // background: #fff !important;
    // transition: all 0.2s linear 0s !important;
    // color: #000 !important;
    border-bottom: 3px solid #fff;
    transition-delay: 0.01s !important;
    // border-radius: 0px !important;
    // width: 12px;
    // justify-content: center;
    // display: flex;
    // width: 80px !important;
    // height: 80px !important;
  }
  .tab{
    background: none !important;
    border-radius: 0px !important;
    width: 12px !important;
    justify-content: center !important;
    display: flex !important;
    img{
      border-radius: 50%;
      min-width: 70px;
      height: 70px;
    }
  }