<ng-container *ngFor="let obj of [].constructor(10); let i = index">
  <div class="ion-display-flex "style="margin: 10px 0px 10px 10px">
    <div class="avatar-div-img">
      <ion-skeleton-text animated></ion-skeleton-text>
    </div>
    <div class="avatar-div-details">
      <h2><ion-skeleton-text animated></ion-skeleton-text></h2>
      <div class="structure-div-side-info ion-display-flex ion-justify-content-between">
        <h3><ion-skeleton-text animated></ion-skeleton-text></h3>
        <h4><ion-skeleton-text animated></ion-skeleton-text></h4>
      </div>
    </div>
  </div>
</ng-container>