<!-- <ion-footer >
  <ion-toolbar> -->
    <!-- <div (click)="openMenu()" id="burgerBtn2" class="ion-activatable ripple-parent center-logo-div">
      <img src="assets/imgs/tabs-page/qlogo.png">
      <ion-ripple-effect></ion-ripple-effect>
    </div>
    <div class="ion-display-flex ion-align-items-end">
      <div class="tab-left-side-div">
        <div class="tab-left-side-div-child">
          <div class="ion-display-grid" style="justify-items: end;" (click)="openCategoryDetails('shopping')">
            <img class="qshop-icon-img" src="assets/imgs/tabs-page/event.png">
            <h4 class="qshop-icon-img-txt">Mall</h4>
          </div>
          
        </div>
      </div>
      <div class="tab-middle-div"></div>
      <div class="tab-right-side-div"> 
        <div class="tab-right-side-div-child">
          <div class="ion-display-grid" style="justify-items: start;" (click)="openCategoryDetails('news')">
            <img class="qnews-icon-img" src="assets/imgs/tabs-page/newspaper.png">
            <h4 class="qnews-icon-img-txt">Press</h4>
          </div>
        </div>
      </div> 
    </div> -->
    <div class="ion-display-flex ion-align-items-baseline footer-wrapper-div">
        <div id="bottom-home-icon" (click)="openCategoryDetails('home')">
          <!-- <div id="active-home-div" class="active-background-home"></div> -->
          <!-- <img src="assets/imgs/tabs-page/qhome.png"> -->
          <img src="assets/imgs/main-tabs-gifs/home-gif.gif">
          <h4>Home</h4>
        </div>
        <div id="bottom-mall-icon" (click)="openCategoryDetails('shopping')">
          <!-- <div id="active-background-mall"></div> -->
          <!-- <img src="assets/imgs/tabs-page/event.png"> -->
          <img src="assets/imgs/main-tabs-gifs/mall-gif.gif">
          <h4>QMall</h4>
        </div>
        <div id="bottom-press-icon" (click)="openCategoryDetails('news')">
          <!-- <div id="active-background-news"></div> -->
          <!-- <img src="assets/imgs/tabs-page/newspaper.png"> -->
          <img src="assets/imgs/main-tabs-gifs/news-gif.gif">
          <h4>QPress</h4>
        </div>
        <div id="bottom-post-icon" (click)="openCategoryDetails('post')">
          <!-- <div id="active-background-post"></div> -->
          <!-- <img src="assets/imgs/tabs-page/qpost.png"> -->
          <img src="assets/imgs/main-tabs-gifs/post-gif.gif">
          <h4>QPost</h4>
        </div>
    </div>
  <!-- </ion-toolbar>
</ion-footer> -->