.back-btn{
    --background: none;
    --box-shadow: none;
    --ripple-color: #000;
    max-width: 30px;
    height: 30px;
    border-radius: 50%;
    --border-radius: 50%;
    margin: 10px 5px 10px 10px;
    svg{
        min-width: 30px;
        height: 30px;
    }
}
.enter-username-email-section{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    width: 95%;
}
.app-logo{
    width: 35%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.reset-password-txt{
    text-align: center;
    font-size: 15px;
    font-family: 'poppins semibold';
    margin-top: 30px;
    color: #25364c;
}
.email-input{
    background: #fff;
    width: 85%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #e0e0e0;
    height: 50px;
    font-family: 'poppins regular' !important;
    font-size: 15px;
    margin-top: 40px;
    transition: ease-in 0.2s;
}
.highlight-input{
    border: 1px solid #25364c;
}
.submit-btn{
    --background: #25364c;
    --box-shadow: none;
    width: 85%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    font-family: 'poppins semibold' !important;
    text-transform: capitalize;
    font-size: 16px;
    --border-radius: none;
    border-radius: 0px;
    height: 48px;
}