ion-content{
    --background: none;
}
ion-col{
    text-align: center;
    margin: 12px 0px 12px 0px;
}
img{
    width: 22px;
    height: 22px;
}
h4{
    font-size: 12px;
    font-family: 'poppins medium';
    margin: 0;
    color: #1a2633;
}
.loader{
    color: #24364d;
    width: 26px;
    height: 26px;
    min-width: 26px;
}