ion-content{
    --background: var(--ion-content-background-color) !important;
}
ion-toolbar{
    --background: var(--ion-content-background-color) !important;
}
.back-btn{
    --background: none;
    --box-shadow: none;
    --ripple-color: #000000;
    border-radius: 50%;
    --border-radius: 50%;
    height: 37px;
    max-width: 37px;
    img{
        min-width: 32px;
        height: 32px;
    }
}
.search-wrap-div{
    border-bottom: 1px solid #24364d;
    padding: 0px 0px 0px 0px;
    ion-input{
        font-size: 14px;
        color: #24364d;
        font-family: 'poppins medium' !important;
        --padding-top: 18px;
        letter-spacing: -0.3px;
    }
}
.q-logo{
    width: 24px;
    height: 24px;
}
.micro-image-div{
    img{
        width: 18px;
        height: 18px;
        margin-right: 15px;
    }
}
.no-search-txt{
    color: #24364d;
    font-family: 'poppins-medium' !important;
    font-size: 15px;
    text-align: center;
    margin: 3em 0px 0px 0px;
}
.reset-search-txt{
    color: #24364d;
    font-family: 'poppins-medium' !important;
    font-size: 13px;
    text-align: center;
    margin: 4px ​15px 0px 15px;
    span{
        color: #30e930;
    }
}
.auto-save-wrap-div{
    padding: 10px 10px;
    margin: 3em 20px 20px 20px;
    border-radius: 6px;
    h3{
        color: #24364d;
        font-family: 'poppins-medium' !important;
        font-size: 13px;
        text-align: center;
        margin: 0;
    }
    ion-toggle{
        --background: #a5a5a5;
        --background-checked: #ccc;
        --handle-background: #fff;
        --handle-background-checked: #24364d; 
    }
}
.searched-results-txt{
    font-size: 15px;
    margin: 10px;
    color: #24364d;
}
.search-results{
    background: #f2f3f5;
    margin: 10px 10px 0px 10px;
    padding: 10px 10px 0px 10px;
    // border-radius: 0px 0px 10px 10px;
    h3{
        margin: 0px 0px 10px 0px;
        font-size: 15px;
        font-family: 'poppins semibold';
        color: #24364d;
    }
}